

body { background: url("https://66.media.tumblr.com/04ff549b92bb99db8ad725a83e288030/tumblr_inline_n258pty5wY1qhwjx8.gif");
font-family: 'Kumar One Outline', cursive;
 text-align: center;}
img{  width: 400px;}
h1{ background-color: white;}
p{ background-color: white;}

h3{ background-color: pink;}
h4{background-color:#f4ad42;}
h5{background-color: #f4ad42;}